@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font class for Archivo */
.font-archivo {
  font-family: "Archivo", sans-serif;
}

Body {
  background-image: url('./img/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}